@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.welcome {
  background-image: url('../assets/wallpaper-welcome.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  height: 80vh;
}

.shadow-text {
  text-shadow: 2px 2px 5px #000;
}
.shadow-text-2 {
  text-shadow: 2px 2px #2E0B36;
}

.flyerImg {
  transition: .2s;
}

.productHv:hover > .flyerImg {
  transform: scale3d(1.1, 1.1, 1.1);
}